<a href="https://colab.research.google.com/github/thirumalaivasan2401251-byte/pp-3/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
print(type(Employee))
print("printing Employee data .... ")
print(Employee)

<class 'dict'>
printing Employee data ....
{'Name': 'Dev', 'Age': 20, 'salary': 45000, 'Company': 'WIPRO'}

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}

In [ ]:
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [ ]:
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
print(type(Employee))
print("printing Employee data .... ")
print("Name:%s"%Employee["Name"])
print("Age:%d"%Employee["Age"])
print("Salary:%d"%Employee["salary"])
print("Company:%s"%Employee["Company"])

<class 'dict'>
printing Employee data ....
Name:Dev
Age:20
Salary:45000
Company:WIPRO

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements to dictionary one at a time
Dict[0] = 'Peter'
Dict[2] = 'Joseph'
Dict[3] = 'Ricky'
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values with a single Key
# The Emp_ages doesn't exist to dictionary

Dict['Emp_ages'] = 20, 33, 24
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[3] = 'JavaTpoint'
print("\nUpdated key value: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky'}

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky', 'Emp_ages': (20, 33, 24)}

Updated key value:
{0: 'Peter', 2: 'Joseph', 3: 'JavaTpoint', 'Emp_ages': (20, 33, 24)}

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
print(type(Employee))
print("printing Employee data .... ")
print(Employee)
print("Enter the details of the new employee....");
Employee["Name"] = input("Name: ");
Employee["Age"] = int(input("Age: "));
Employee["salary"] = int(input("Salary: "));
Employee["Company"] = input("Company:");
print("printing the new data");
print(Employee)

<class 'dict'>
printing Employee data ....
{'Name': 'Dev', 'Age': 20, 'salary': 45000, 'Company': 'WIPRO'}
Enter the details of the new employee....
Name: Thiru
Age: 19
Salary: 100000
Company:TCS
printing the new data
{'Name': 'Thiru', 'Age': 19, 'salary': 100000, 'Company': 'TCS'}

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
print(type(Employee))
print("printing Employee data .... ")
print(Employee)
print("Deleting some the employee data")
del Employee["Name"]
del Employee["Age"]
print("printing the modified data");
print(Employee)
print("Deleting the entire dictionary")
del Employee
print(Employee)

<class 'dict'>
printing Employee data ....
{'Name': 'Dev', 'Age': 20, 'salary': 45000, 'Company': 'WIPRO'}
Deleting some the employee data
printing the modified data
{'salary': 45000, 'Company': 'WIPRO'}
Deleting the entire dictionary

NameError: name 'Employee' is not defined

In [ ]:
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
pop_key = Dict.pop(2)
print(Dict)

{1: 'Geeks', 3: 'Geeks'}

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
for x in Employee.values():
    print(x)

Dev
20
45000
WIPRO

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
for x in Employee:
    print(Employee[x])

Dev
20
45000
WIPRO

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
for x in Employee.values():
  print(x)

Dev
20
45000
WIPRO

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
for x in Employee.items():
  print(x)

('Name', 'Dev')
('Age', 20)
('salary', 45000)
('Company', 'WIPRO')