<a href="https://colab.research.google.com/github/thirumalaivasan2401251-byte/pp-3/blob/main/pp3_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple1=()
print(tuple1)

()

In [ ]:
tuple1=(1,2,3,4,5,6,7)
print(tuple1)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
tuple1=(1,2,3,4,5,6,7)
print("tuple elements:",tuple1)

tuple elements: (1, 2, 3, 4, 5, 6, 7)

In [ ]:
tuple1=(1,"python",2,3,4,5,6.7)
print("mixed tuple elements:",tuple1)

mixed tuple elements: (1, 'python', 2, 3, 4, 5, 6.7)

In [ ]:
tuple1=(1,"python",{2,3,4,5},(6.7,4.9))
print("nested tuple elements:",tuple1)

nested tuple elements: (1, 'python', {2, 3, 4, 5}, (6.7, 4.9))

In [ ]:
tuple1=1,["python","Tuples"],6.7,4.9
print(tuple1)

(1, ['python', 'Tuples'], 6.7, 4.9)

In [ ]:
tuple1=1,["python","Tuples"],6.7,4.9
print(type(tuple1))

<class 'tuple'>

In [ ]:
tuple1=(1,2,"python",{2,3,4,5},6.7,4.9)
print(tuple1[1:3])
print(tuple1[:-3])
print(tuple1[-4:])
print(tuple1[:])

(2, 'python')
(1, 2, 'python')
('python', {2, 3, 4, 5}, 6.7, 4.9)
(1, 2, 'python', {2, 3, 4, 5}, 6.7, 4.9)

In [ ]:
tuple1=(1,2,3,4,5,6,7,2,3,2,5,2,7)
tuple2=("java","python","java","python","python")
res=tuple1.count(2)
print(res)
res=tuple2.count("python")
print(res)

4
3

In [ ]:
#Ex no.2:

product = (101, "Laptop", "Electronics", 55000)
print("\nProduct Details:", product)

print("\nProduct Name:", product[1])
print("\nPrice:", product[3])

categories = ("Electronics", "Clothing", "Electronics", "Furniture")
print("\nElectronics count:", categories.count("Electronics"))

print("\nIndex of 'Laptop':", product.index("Laptop"))

print("\nProduct Name & Category:", product[1:3])

product_list = list(product)
product_list[3] = 52000  # Updated price
product = tuple(product_list)
print("\nUpdated Product Details:", product)

Product Details: (101, 'Laptop', 'Electronics', 55000)

Product Name: Laptop

Price: 55000

Electronics count: 2

Index of 'Laptop': 1

Product Name & Category: ('Laptop', 'Electronics')

Updated Product Details: (101, 'Laptop', 'Electronics', 52000)