<a href="https://colab.research.google.com/github/thirumalaivasan2401251-byte/pp-3/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Day = {"Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"}
for x in Day:
    print(x)

Thursday
Wednesday
Saturday
Sunday
Monday
Friday
Tuesday

In [ ]:
Day = {"Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"}
print(Day)
print(type(Day))
print("looping through set elements")
for x in Day:
    print(x)

{'Thursday', 'Wednesday', 'Saturday', 'Sunday', 'Monday', 'Friday', 'Tuesday'}
<class 'set'>
looping through set elements
Thursday
Wednesday
Saturday
Sunday
Monday
Friday
Tuesday

In [ ]:
Day = set(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
print(Day)
print(type(Day))
print("looping through set elements")
for x in Day:
    print(x)

{'Thursday', 'Wednesday', 'Saturday', 'Monday', 'Sunday', 'Friday', 'Tuesday'}
<class 'set'>
looping through set elements
Thursday
Wednesday
Saturday
Monday
Sunday
Friday
Tuesday

In [ ]:
set1 = {1,2,3,"javapoint",20.5,14}
print(set1)
print(type(set1))

{1, 2, 3, 'javapoint', 20.5, 14}
<class 'set'>

In [ ]:
set1 = {1,2,3,["javapoint",14],20.5,14}
print(set1)
print(type(set1))

TypeError: unhashable type: 'list'

In [ ]:
month = {"January","February","March","April","May","June"}
print(month)
print(type(month))

{'February', 'April', 'January', 'June', 'March', 'May'}
<class 'set'>

In [ ]:
month = {"January","February","March","April","May","June"}
print(month)
month.add("july")
month.add("August")
print(month)

{'February', 'April', 'January', 'June', 'March', 'May'}
{'February', 'july', 'April', 'January', 'June', 'March', 'August', 'May'}

In [ ]:
month = {"January","February","March","April","May","June"}
print(month)
month.update(["july","August","September","October"])
print(month)

{'February', 'April', 'January', 'June', 'March', 'May'}
{'April', 'June', 'March', 'February', 'july', 'January', 'August', 'October', 'September', 'May'}

In [ ]:
month = {"January","February","March","April","May","June"}
print(month)
month.discard("January")
print(month)

{'February', 'April', 'January', 'June', 'March', 'May'}
{'February', 'April', 'June', 'March', 'May'}

In [ ]:
month = {"January","February","March","April","May","June"}
print(month)
month.remove("January")
print(month)

{'February', 'April', 'January', 'June', 'March', 'May'}
{'February', 'April', 'June', 'March', 'May'}

In [ ]:
month = {"January","February","March","April","May","June"}
print(month)
month.pop()
month.pop()
print(month)

{'February', 'April', 'January', 'June', 'March', 'May'}
{'January', 'June', 'March', 'May'}

In [ ]:
month = set(["January","February","March","April","May","June"])
print(month)
month.clear()
print(month)

{'April', 'June', 'March', 'February', 'January', 'May'}
set()

In [ ]:
month = set(["January","February","March","April","May","June"])
print(month)
month.discard("January")
print(month)
month.discard("July")
print(month)

{'April', 'June', 'March', 'February', 'January', 'May'}
{'April', 'June', 'March', 'February', 'May'}
{'April', 'June', 'March', 'February', 'May'}

In [ ]:
month1 = {"January","February","March","April","May","June"}
month2 = {"July","August","September","October","November","December"}
print(month1|month2)

{'November', 'April', 'June', 'March', 'October', 'July', 'February', 'December', 'August', 'January', 'September', 'May'}

In [ ]:
month1 = {"January","February","March","April","May","June"}
month2 = {"July","August","September","October","November","December"}
print(month1.union(month2))

{'November', 'April', 'June', 'March', 'October', 'July', 'February', 'December', 'August', 'January', 'September', 'May'}

In [ ]:
month1 = {"January","February","March","April","May","June"}
month2 = {"July","August","April","October","November","December"}
print(month1&month2)

{'April'}

In [ ]:
month1 = {"January","February","March","April","May","June"}
month2 = {"July","August","April","October","November","December"}
print(month1.intersection(month2))

{'April'}

In [ ]:
month2 = {"January","February","March","April"}
month1 = {"February","April","October","November","December"}
print(month1-month2)

{'December', 'November', 'October'}

In [ ]:
month2 = {"January","February","March","April"}
month1 = {"February","April","October","November","December"}
print(month1.difference(month2))

{'December', 'November', 'October'}

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
print(a^b)

{1, 2, 6, 7}

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
print(a.symmetric_difference(b))

{1, 2, 6, 7}